/FirstJavaClass59/nbproject/private/
/FirstJavaClass59/build/
/Compute area/nbproject/private/
/Compute area/build/
/FarenhightToCelcius/nbproject/private/
/FarenhightToCelcius/build/
/ShowCurrentTime/nbproject/private/
/ShowCurrentTime/build/
/SelectStatement/nbproject/private/
/SelectStatement/build/
/GradeNumber/nbproject/private/
/GradeNumber/build/
/SwitchCase/nbproject/private/
/SwitchCase/build/
/LeapYear/nbproject/private/
/LeapYear/build/
/TestString/nbproject/private/
/TestString/build/
/TestStringFacebook/nbproject/private/
/TestStringFacebook/build/
/ClassWork/nbproject/private/
/ClassWork/build/
